@charset "UTF-8";


.content-body{
    min-height: calc(100vh - 3rem) !important;
}

.right-sidebar{
    right: 0;
    top: 0;
    padding: unset;
    border-left: 1px solid #343c46;
    width: 20rem;
}

.hamburger .toggle-icon,
.right-hamburger .toggle-icon {
    color : white;
}

.nk-sidebar {
    padding-bottom : unset;
    border-right: 1px solid #343c46;
}

.nav-header {
    width : 20rem;
    text-align: center;
}

@media (max-width: 767px){
    .nav-header {
        width: 3.75rem;
    } 
}

.nav-header .brand-logo{
    /* padding: unset; */
    /* display : flex;
    justify-content: center;
    align-items: center;; */
}

/* ---------------------------
   right sidebar start
   --------------------------- */
[data-theme-version="dark"] .right-nk-sidebar {
    box-shadow: none;
    background-color: #1b2b42;
}

.right-nk-sidebar {
    width: 20rem;
    height: 100%;
    position: absolute;
    /* top: 5rem; */
    padding-top: 0;
    z-index: 99;
    background: #fff;
    transition: all .2s ease;
}


.right-nav-control {
    cursor: pointer;
    position: absolute;
    right: 1.4375rem;
    text-align: center;
    top: 46%;
    transform: translateY(-50%); 
}

@media (max-width: 575.98px) {
    .right-nav-control {
        left: .4375rem; 
    } 
}
.right-nav-control .right-hamburger.active {
    z-index: -1; 
}
  
.right-hamburger {
    display: inline-block;
    right: 0;
    position: relative;
    top: 0.3125rem;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 2.3125rem;
    z-index: 999; 
}

.right-hamburger.is-active {
    left: 0;
    z-index: 9; 
}

.right-hamburger .toggle-icon {
    font-size: 1.4rem;
    line-height: 2rem;
}
  
.right-hamburger:hover {
    cursor: pointer; 
}

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .right-nav-control .right-hamburger .line {
    background-color: #464a53 !important; 
}


@media only screen and (min-width: 768px) {
    [data-sidebar-style="mini"] .nav-header .right-nav-control .right-hamburger {
        right: 3.75rem !important; 
    }
    [data-sidebar-style="mini"] .nav-header .right-nav-control .right-hamburger .line {
        background-color: #464a53 !important; 
    }

    [data-sidebar-style="mini"] .nav-header .right-hamburger {
        display: none; 
    }
}

[data-sidebar-style="overlay"] .nav-header .right-hamburger.is-active {
    left: 0; 
}
[data-sidebar-style="overlay"] .nav-header .right-hamburger.is-active .line {
    background-color: #fff; 
}

.nav-header .right-nav-control .right-hamburger.is-active {
    right: 6rem;
    left: auto; 
}
.nav-header .right-nav-control .right-hamburger.is-active .line:nth-child(1) {
    transform: translateY(0.4rem) rotate(135deg); 
}
.nav-header .right-nav-control .right-hamburger.is-active .line:nth-child(2) {
    transform: translateX(0.4rem); 
}
.nav-header .right-nav-control .right-hamburger.is-active .line:nth-child(3) {
    transform: translateY(-0.4rem) rotate(-135deg); 
}

[data-sidebar-style="overlay"] .nav-header .right-hamburger.is-active {
    right: 0; 
}
[data-sidebar-style="overlay"] .nav-header .right-hamburger.is-active .line:nth-child(1) {
    transform: translateY(0.4rem) rotate(-45deg); 
}
[data-sidebar-style="overlay"] .nav-header .right-hamburger.is-active .line:nth-child(3) {
    transform: translateY(-0.4rem) rotate(45deg); 
}

[data-sidebar-style="full"][data-layout="vertical"] .right-menu-toggle .right-nk-sidebar {
    width: 3.75rem;
    overflow: visible;
    position: absolute; 
}

.right-menu-toggle .header{
    width: calc(100% - 22.75rem);
}
/* ---------------------------
   right sidebar end
   --------------------------- */

.metismenu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

[data-sibebarbg="color_1"] .nk-sidebar .metismenu > li {
    color: white;
}

.model-li, .device-li{
    flex: 1;
    overflow: auto;
}

.model-li{
    border-bottom: 1px solid #343c46;
}

.nav-label{
    color: white !important;
    font-size: large;
    border-top: 2px solid #343c46;
    border-bottom: 2px solid #343c46;
    display: inline !important;
}

.sub-label{
    font-size: smaller;
    display: inline;
    color: white;
}

.menu-list{
    height: 100%;
    width: calc(100% - 8rem);
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown{
    margin: 5px;
}

.dropdown .btn{
    min-width: 100px;
}

.property-window-label{
    height: 3rem;
    text-align: center;
}

.right-btn{
    position: absolute;
    right: 10px;
}

.circle-btn{
    border-radius: 25px;
}

.add-btn{
    width: 25px;
    height: 25px;
    padding: unset;
}

.brand-title{
    color: white;
    font-weight: bolder;
    font-size: 1.4rem !important;
}

/* ************************************
        Scroll Style Start
************************************* */
.scrollbar {
overflow-y: scroll;
}
.force-overflow {
min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4; }

.scrollbar-primary {
scrollbar-color: #4285F4 #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; 
}

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-danger {
scrollbar-color: #ff3547 #F5F5F5;
}

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-warning {
scrollbar-color: #FF8800 #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }

.scrollbar-success {
scrollbar-color: #00C851 #F5F5F5;
}

.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-info {
scrollbar-color: #33b5e5 #F5F5F5;
}

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }

.scrollbar-default {
scrollbar-color: #2BBBAD #F5F5F5;
}

.scrollbar-secondary::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
width: 12px;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #6f78b2; }

.scrollbar-secondary {
scrollbar-color: #6f78b2 #F5F5F5;
}
/* ************************************
        Scroll Style End
************************************* */


#cesiumContainer{
    padding: unset !important;
    margin: unset !important;
    height:  calc(100vh - 3rem);
}


[data-right-sidebar="show"] .content-body{
    margin-right: 20rem;
}

[data-right-sidebar=""] .content-body{
    margin-right: 3.75rem;
}