/* #workspace-main-wrapper { */
    /* opacity: 0;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative; } */
    /* opacity: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; } */

/* #workspace-main-wrapper.show {
    opacity: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; } */
/* 
#workspace-content-body{
    margin-left: 0 !important;
    min-height: auto !important;
    width: 100%; } */

#ew-container-fluid{
    padding-top: 15px;
}

/* #searchInput{
    border: 1px solid #ced4da;
    height: 30px;
    width: 250px;
} */